certifi
charset-normalizer
click
cycler
dill
filelock
Flask
fonttools
fsspec
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
packaging
pandas
Pillow
psutil
py-cpuinfo
pyparsing
python-dateutil
pytz
PyYAML
requests
scipy
seaborn
six
sympy
thop
torch
torchvision
tqdm
typing-extensions
tzdata
ultralytics
urllib3
Werkzeug
zipp
gunicorn